// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #5D5D5D;
$light-gray: #EEEEEE;
$white: #FFFEFF;
$black: #000000;
$dark-gray: #737373;
